*{
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body{
    background-color:  #233c5c;;
}

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-radius: 0 5px 5px 0;
}
  
#mySidenav a:hover {
    left: 0;
}

.bg {
    display: flex;
    background-color: #174082;
    padding: 10px;
    min-width: fit-content;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
}

.instruction {
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 500px ;
    border-radius: 30px;
    height: 400px;
}

.container{
    padding:25px 10%;
    text-align: center;
}
  
.container .image-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    padding-top: 30px;
}
  
.container .image-container .image{
    padding:15px;
    border:1px solid #000;
    width: 250px;
    height: 300px;
    border-radius: 30px;
    animation: fadeIn .2s linear;
    background: #ffffff;
    box-shadow: inset 9px -9px 18px #d9d9d9,
                inset -9px 9px 18px #ffffff;
}
  
@keyframes fadeIn {
    0%{
      transform: scale(.5) translateY(-10px);
      opacity: 0;
    }
}
  
.container .image-container .image img{
    height: 150px;
     width: 190px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 30px;
}
  
.container .image-container .image h4{
    font-size: 20px;
}
  
@media (max-width:768px){
    .container #search-box{
      width: 100%;
    }
}
  
@media (max-width:450px){
    .container{
      padding:25px 20px;
    }
    .container .image-container .image{
      width: 100%;
    }
}
  
a{
    color: black;
}

#Back {
    top: 100px;
    background-color: #CD1818;
}